<section class="formBodyProgress">
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Category Name</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small bodyProgressNameNew" type="text" placeholder="Category Name" />
                        <span class="icon icon-left"><i class="fas fa-chart-line"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated submitBodyProgress" style="width: 100%;">Submit</button>
        </div>
    </div>
</section>
