<section>
    <div class="btn-container" style="float:right;">
        <a href="#modals">
            <button class="btn-primary btn-animated addBodyProgress">Add Body Progress Category</button>
        </a>
    </div>
</section>

<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="bodyProgressData" class="utb utb-ORL"><label class="tooltip" style="cursor: pointer;" data-tooltip="Click me to refresh!">Category Body Progress List</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped bodyProgressTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody id="bodyProgressBody">
            
        </tbody>
    </table>
</section>