<section>
    <div class="row">
        <div class="col-6">
            <div class="group">
                <div class="item line"></div>
                <div class="item text">Coach</div>
                <div class="item line"></div>
            </div>
            <table class="table striped ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Class</th>
                        <th>Coach</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Class</th>
                        <th>Coach</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div class="group">
                <div class="item line"></div>
                <div class="item text">Member</div>
                <div class="item line"></div>
            </div>
            <table class="table striped ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Class</th>
                        <th>Member Name</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Class</th>
                        <th>Member Name</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Yoga</td>
                        <td>Nigga</td>
                        <td>29 September 2014</td>
                        <td>14.00 - 15.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>