
<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="memberlog" class="utb utb-ORL"><label style="cursor: pointer;" class="tooltip" data-tooltip="Click me to refresh!">Member</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section class="memberAttendance">
    <div class="container memberLogData" style="max-height: 55vh; overflow-y: auto;">

    </div>
</section>


<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="memberApproval" class="utb utb-ORL"><label style="cursor: pointer;" class="tooltip" data-tooltip="Click me to refresh!">Membership Approval</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section class="memberApprovalList">
    <div class="container memberApprovalData" style="max-height: 55vh; overflow-y: auto;">

    </div>
</section>