
<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="memberlog" class="utb utb-ORL"><label style="cursor: pointer;" class="tooltip" data-tooltip="Click me to refresh!">Member</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section class="memberAttendance">
    <div class="container memberLogData" style="max-height: 55vh; overflow-y: auto;">
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="employeelog" class="utb utb-ORL"><label class="tooltip" style="cursor: pointer;" data-tooltip="Click me to refresh!">Employee</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section class="employeeAttendance">
    <div class="container employeeLogData" style="max-height: 25vh; overflow-y: auto;">
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="tile">
                    <div class="tile__icon">
                        <figure class="avatar">
                            <img src="https://www.seoclerk.com/pics/319222-1IvI0s1421931178.png">
                        </figure>
                    </div>
                    <div class="tile__container">
                        <p class="tile__title u-no-margin">Robert Downey Jr. shared a post from <b>Stark Industries</b>.</p>
                        <p class="tile__subtitle u-no-margin">Robert shared: 'Stark Industries is proud to announce its
                            brand new suit.'</p>
                        <span class="info">23 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>