<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text"><a data-section="coachlist" class="utb utb-ORL"><label class="tooltip" style="cursor: pointer;" data-tooltip="Click me to refresh!">Coach</label></a></div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped coachListTable">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Gym Place</th>
        </thead>
        <tfoot>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Gym Place</th>
        </tfoot>
        <tbody id="coachListBody">

        </tbody>
    </table>
</section>

<!-- <section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Administrative</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped">
        <thead class="text-danger">
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anto</td>
                <td>XX</td>
                <td>Male</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Anto</td>
                <td>XX</td>
                <td>Male</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">OB</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped">
        <thead class="text-danger">
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anto</td>
                <td>XX</td>
                <td>Male</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Anto</td>
                <td>XX</td>
                <td>Male</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Staff</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped">
        <thead class="text-danger">
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anto</td>
                <td>XX</td>
                <td>Male</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</section> -->