<section class="formSchedule">
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Class name</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small" type="text" placeholder="Class Name" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
        <div class="form-section">
            <label class="font-bold">Date</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small" type="date" placeholder="Class Name" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar-alt"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Start Time</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small" id="startTime" name="startTime" type="text"/>
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-clock"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">End Time</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small" id="endTime" name="endTime" type="text" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-clock"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Coach</label>
                <div class="col-12">
                    <div class="input-control">
                        <select class="select" placeholder="Choose coach">
                            <option>Joni</option>
                            <option>Jono</option>
                            <option>Jona</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated submitSchedule" style="width: 100%;">Submit Schedule</button>
        </div>
    </div>
</section>
