<section class="formSchedule">
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Class</label>
                <div class="col-12">
                    <div class="input-control">
                        <select class="select classNameSchedule" id="classNameSchedule" name="classNameSchedule" placeholder="Choose Class">
                            
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Coach</label>
                <div class="col-12">
                    <div class="input-control">
                        <select class="select coachNameSchedule" id="coachNameSchedule" name="coachNameSchedule" placeholder="Choose Coach">

                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Start Date</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small dateSchedule" type="date" name="dateSchedule" id="dateSchedule"/>
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar-alt"></i></span>
                    </div>
                </div>
        </div>
        <div class="form-section">
            <label class="font-bold">End Date</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small endDateSchedule" type="date" name="endDateSchedule" id="endDateSchedule"/>
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar-alt"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Start Time</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small startTime" id="startTime" name="startTime" type="text"/>
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-clock"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">End Time</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-smal endTime" id="endTime" name="endTime" type="text" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-clock"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">Place</label>
                <div class="col-12">
                    <div class="input-control">
                        <select class="select placeNameSchedule" id="placeNameSchedule" name="placeNameSchedule" disabled placeholder="Choose place">
                            <!-- <option value="1" selected></option> -->
                            <option id="placeIdSchedule" selected>This Place</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated submitSchedule" style="width: 100%;">Submit Schedule</button>
        </div>
    </div>
</section>
