<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Today Schedule</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped">
        <thead>
            <th>ID</th>
            <th>Class</th>
            <th>Coach</th>
            <th>Time</th>
            <th>Attended</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Yoga</td>
                <td>Nigga</td>
                <td>14.00 - 15.00</td>
                <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Zumba</td>
                <td>Budi</td>
                <td>12.00 - 16.00</td>
                <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Body Combat</td>
                <td>Anto</td>
                <td>10.00 - 11.00</td>
                <td><i class="material-icons">check</i></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Physics Exercise</td>
                <td>Rando</td>
                <td>09.00 - 10.00</td>
                <td><i class="material-icons">check</i></td>
            </tr>
        </tbody>
    </table>
</section>