<section>
    <div class="btn-container" style="float:left;">
        <a href="#modals">
            <button class="btn-primary btn-animated switchScheduleTag">Switch Schedule</button>
        </a>
    </div>
    <div class="btn-container" style="float:right;">
        <a href="#modals">
            <button class="btn-primary btn-animated createSchedule">Create Schedule</button>
        </a>
    </div>
</section>

<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Today Schedule</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped scheduleTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class</th>
                <th>Coach</th>
                <th>Date</th>
                <th>Time</th>
                <th>Attended</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Class</th>
                <th>Coach</th>
                <th>Date</th>
                <th>Time</th>
                <th>Attended</th>
            </tr>
        </tfoot>
        <tbody id="scheduleBody">
            
        </tbody>
    </table>
</section>