<section class="switchSchedule">
    <div class="row u-no-padding">
        <div class="col-6">
            <div class="row u-no-padding">
                <div class="group">
                    <div class="item line"></div>
                    <div class="item text font-bold">From</div>
                    <div class="item line"></div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Schedule</label>
                    <div class="col-12">
                        <div class="input-control">
                            <select class="select scheduleDataFrom" style="width: 100%;" id="scheduleDataFrom">
                                <option class="selected"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Date</label>
                    <div class="col-12">
                        <div class="input-control">
                            <input class="input-contains-icon-left input-small dateSwitch" type="text" name="dateSwitch" id="dateSwitch" disabled placeholder="Schedule date"  />
                            <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Class name</label>
                    <div class="col-12">
                        <div class="input-control">
                            <input class="input-contains-icon-left input-small className" type="text" id="className" name="className" placeholder="Class Name" disabled/>
                            <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Coach</label>
                    <div class="col-12">
                        <div class="input-control">
                            <input class="input-contains-icon-left input-small coachName" type="text" id="coachName" name="coachName" placeholder="Coach Name" disabled/>
                            <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row u-no-padding">
                <div class="group">
                    <div class="item line"></div>
                    <div class="item text font-bold">To</div>
                    <div class="item line"></div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Schedule</label>
                    <div class="col-12">
                        <div class="input-control">
                            <select class="select scheduleDataTo" style="width: 100%;" id="scheduleDataTo">
                                <option class="selected"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Date</label>
                    <div class="col-12">
                        <div class="input-control">
                            <input class="input-contains-icon-left input-small dateScheduleTo" type="text" id="dateScheduleTo" name="dateScheduleTo" disabled placeholder="Schedule date" />
                            <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Class name</label>
                    <div class="col-12">
                        <div class="input-control">
                            <input class="input-contains-icon-left input-small classScheduleTo" type="text" id="classScheduleTo" name="classScheduleTo" placeholder="Class Name" disabled />
                            <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row u-no-padding">
                <div class="form-section-2" style="width: 100%;">
                    <label class="font-bold">Coach</label>
                    <div class="col-12">
                        <div class="input-control">
                            <div class="input-control">
                                <input class="input-contains-icon-left input-small coachNameTo" type="text" id="coachNameTo" name="coachNameTo" placeholder="Coach Name" disabled/>
                                <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="form-section-2" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated submitSwitchSchedule" style="width: 100%;">Switch Schedule</button>
        </div>
    </div>
</section>