<section class="section">
    <div class="hero fullscreen">
        <div class="hero-body contentPlace" style="display: block;">
            <div class="placeholder" style="min-height: 100%; font-size: xx-large;">
                <div class="placeholder-icon">
                    <span class="icon">
                        <i class="fa fa-wrapper fa-coffee x-large"></i>
                    </span>
                </div>
                <h6 class="placeholder-title">No Dashboard yet</h6>
                <div class="placeholder-subtitle">Feature will be coming soon, stay tuned!</div>

                <div class="placeholder-commands u-center">
                    <div class="btn-container">
                        <button class="btn-primary">Refresh</button>
                    </div>
                    <div class="btn-container">
                        <button>Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>