<section class="formClass">
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Class name</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small classNameNew" type="text" placeholder="Class Name" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Description</label>
                <div class="col-12">
                    <div class="input-control">
                        <textarea class="input-contains-icon-left input-small descriptionText" id="descriptionText" placeholder="class description"></textarea>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated submitClass" style="width: 100%;">Add new class</button>
        </div>
    </div>
</section>
