<section>
    <div class="group">
        <div class="item line"></div>
        <div class="item text">Class List</div>
        <div class="item line"></div>
    </div>
</section>

<section>
    <table class="table striped classTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Class</th>
                <th>Description</th>
            </tr>
        </tfoot>
        <tbody id="classBody">
            
        </tbody>
    </table>
</section>