<!DOCTYPE html>
<html>
    <head>
            <title>Fit Club Admin Dashboard</title>

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
        
            <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet" />
        
            <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    </head>

    <body style="background-image: url('./public/assets/images/bgProf.jpg');">
        <section class="section">
            <div class="hero fullscreen">
                <div class="hero-body">
                    <div class="content">
                        <div class="frame padded" style="margin-left: 25%; margin-right: 25%; background-color: rgba(255, 255, 255, 0.8);">
                            <form name="login-form" method="post">
                                <div class="frame__body">
                                    <h3>Fit Club</h3>
                                    <div class="form-section">
                                        <label>Email</label>
                                        <div class="input-control">
                                            <input class="input-contains-icon" id="email" name="email" placeholder="Email" type="text" value="coach1@mail.com">
                                            <span class="icon">
                                                <i class="far fa-wrapper fa-envelope-open small"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <label>Password</label>
                                        <div class="input-control">
                                            <input class="input-contains-icon" id="password" name="password" placeholder="Password" type="password" value="7777777">
                                            <span class="icon">
                                                <i class="fas fa-wrapper fa-key small"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <space></space>
                                    <button class="btn-info u-pull-right login" name="btn" value="login" type="button">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="./public/assets/js/login.js"></script>
<script src="./public/assets/js/general.js"></script>
<script src="./public/assets/js/axios.js"></script>