<section class="formOTP">
    <div class="row u-no-padding">
        <div class="form-section" style="width: 100%;">
            <label class="font-bold">OTP code</label>
                <div class="col-12">
                    <div class="input-control">
                        <input type="hidden" id="emailRegisPartner">
                        <input type="hidden" id="phoneRegisPartner">
                        <input class="input-contains-icon-left input-small otpCodeRegis" type="number" placeholder="OTP from email"/>
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <label>Your verification code has been send in your email address,<br/> Please check your email, and verify your account</label>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated otpRegis" style="width: 100%;">Confirm</button>
        </div>
    </div>
</section>
