<section class="formRegister">
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Partner name</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small partnerRegis" type="text" placeholder="Partner Name" value="rekan" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Address</label>
                <div class="col-12">
                    <div class="input-control">
                        <textarea class="input-contains-icon-left input-small address form-control" id="addressRegis" placeholder="Partner Address">alamat rekan</textarea>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Phone number</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small phoneNumberRegis" type="number" placeholder="Partner Active Phone Number" value="08123456789" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Gender</label>
                <div class="col-12">
                    <div class="input-control">
                        <select id="genderRegis">
                            <option value="1" selected>Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Email</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small emailRegis" type="email" placeholder="Partner Active Email" value="dickybudianto+rekan@usahakreatif.co.id" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row u-no-padding">
        <div class="form-section">
            <label class="font-bold">Password</label>
                <div class="col-12">
                    <div class="input-control">
                        <input class="input-contains-icon-left input-small passwordRegis" type="password" placeholder="Password" value="111111" />
                        <span class="icon icon-left"><i class="fas fa-wrapper fa-calendar"></i></span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-section" style="width: 100%; margin-top: 2vh;">
            <button class="btn-primary btn-animated regisPartner" style="width: 100%;">Register</button>
        </div>
    </div>
</section>
